**Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose 
you have collected data on the amount of time students spend studying for an exam and their final exa 
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the resu.** t.

In [14]:
import pandas as pd
import numpy as np

#creating a dataframe
df=pd.DataFrame({'study_hrs':[7,8,6,9,7,5,7,8],'final_score':[69,89,54,77,82,73,59,81] })
df.head()

df.corr(method='pearson')
#study hrs and final score of students are positively correlated.

             study_hrs  final_score
study_hrs     1.000000     0.491516
final_score   0.491516     1.000000

**Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.**

In [15]:
df=pd.DataFrame({'sleep_hrs':[7,8,6,9,7,5,7,8],'job_satisfaction':[8,8,5,7,5,7,6,5] })

In [16]:
df.corr(method='spearman')

                  sleep_hrs  job_satisfaction
sleep_hrs          1.000000          0.184717
job_satisfaction   0.184717          1.000000

Remark- job satisfaction and sleep hrs are not strongly related to each other

**Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.**

In [31]:
df=pd.DataFrame({'exercise_hours':[5, 3, 6, 2, 4, 5, 4, 6, 2,3],'BMI':[27.5, 23.8, 29.1, 26.2, 24.9, 28.3, 26.7, 22.5, 30.2, 28.7]})
df

   exercise_hours   BMI
0               5  27.5
1               3  23.8
2               6  29.1
3               2  26.2
4               4  24.9
5               5  28.3
6               4  26.7
7               6  22.5
8               2  30.2
9               3  28.7

In [37]:
pearson_corr=df.corr(method='pearson')
spearman_corr=df.corr(method='spearman')

In [38]:
pearson_corr

                exercise_hours       BMI
exercise_hours        1.000000 -0.190526
BMI                  -0.190526  1.000000

In [39]:
spearman_corr

                exercise_hours       BMI
exercise_hours        1.000000 -0.123091
BMI                  -0.123091  1.000000

Remark- pearson and spearman both shows negative correlation between exercise hrs ans BMI, the correlation is not very strongly

**Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.**

In [41]:
df=pd.DataFrame({'tv_hours':[3, 2, 4, 5, 2, 3, 4, 1, 2, 5, 4, 3, 2, 3, 4, 5, 3, 2, 4, 5, 3, 2, 1, 4, 3, 2, 5, 4, 3, 2, 4, 5, 3, 2, 4, 5, 2, 3, 4, 5, 2, 3, 4, 1, 2, 5, 4, 3, 2, 3, 4],'physical_activity':[2, 4, 3, 2, 5, 2, 3, 4, 1, 3, 4, 2, 5, 3, 2, 4, 5, 3, 2, 4, 5, 3, 2, 4, 1, 3, 4, 2, 5, 
                     3, 2, 4, 5, 3, 2, 4, 1, 3, 4, 2, 5, 3, 2, 4, 5, 3, 2, 4, 1, 3, 4]})
df.head()

   tv_hours  physical_activity
0         3                  2
1         2                  4
2         4                  3
3         5                  2
4         2                  5

In [42]:
pearson_corr=df.corr(method='pearson')
spearman_corr=df.corr(method='spearman')

In [43]:
pearson_corr

                   tv_hours  physical_activity
tv_hours           1.000000          -0.053954
physical_activity -0.053954           1.000000

In [44]:
spearman_corr

                   tv_hours  physical_activity
tv_hours           1.000000          -0.067228
physical_activity -0.067228           1.000000

**Q5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:**

In [50]:
df=pd.DataFrame({'age':[25,42,37,19,31,28],'drink_preference':['coke','pepsi','mountain_dew','pepsi','coke','pepsi']})

In [54]:
encoded=df.groupby('drink_preference')['age'].mean()
encoded

drink_preference
coke            28.000000
mountain_dew    37.000000
pepsi           29.666667
Name: age, dtype: float64

In [55]:
df['encoded_data']=df['drink_preference'].map(encoded)

In [56]:
df

   age drink_preference  encoded_data
0   25             coke     28.000000
1   42            pepsi     29.666667
2   37     mountain_dew     37.000000
3   19            pepsi     29.666667
4   31             coke     28.000000
5   28            pepsi     29.666667

In [60]:
df[['age','encoded_data']].corr(method='spearman')

                   age  encoded_data
age           1.000000      0.339467
encoded_data  0.339467      1.000000

In [61]:
df[['age','encoded_data']].corr(method='pearson')

                   age  encoded_data
age           1.000000      0.406262
encoded_data  0.406262      1.000000

**Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.**

In [64]:
df=pd.DataFrame({'sales_calls_per_day':[15, 20, 10, 25, 18, 12, 30, 22, 17, 21, 16, 19, 23, 14, 28, 26, 13, 24, 11, 27,
                       29, 9, 31, 32, 8, 33, 34, 7, 35, 36],
'sales_per_week':[50, 55, 45, 60, 53, 48, 65, 58, 52, 56, 51, 54, 57, 49, 63, 62, 47, 59, 46, 61,
                  64, 44, 66, 67, 43, 68, 69, 42, 70, 71]})

df.head()

   sales_calls_per_day  sales_per_week
0                   15              50
1                   20              55
2                   10              45
3                   25              60
4                   18              53

In [65]:
pearson_corr=df.corr(method='pearson')
spearman_corr=df.corr(method='spearman')

In [66]:
spearman_corr

                     sales_calls_per_day  sales_per_week
sales_calls_per_day             1.000000        0.998665
sales_per_week                  0.998665        1.000000

In [67]:
pearson_corr

                     sales_calls_per_day  sales_per_week
sales_calls_per_day             1.000000        0.998665
sales_per_week                  0.998665        1.000000